/docs/
/lib/
/bin/*
/.shards/
lucky_sample_backup_dump-*.sql

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

# Ignore Up cache file
/up.cache
