/docs/
/lib/
/bin/*
/.shards/
/tmp
/config/*.local.cr

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

# Ignore Up cache file
/up.cache
