name: Avram CI

on:
  push:
    branches: [main]
  pull_request:
    branches: "*"

jobs:
  check_format:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - uses: actions/checkout@v4
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: latest
      - name: Install shards
        run: shards install
      - name: Format
        run: crystal tool format --check
      - name: Lint
        run: ./bin/ameba

  specs:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        shard_file:
          - shard.yml
        postgres_version:
          - 14
          - 16
        crystal_version:
          - 1.10.0
          - latest
        experimental:
          - false
        include:
          - shard_file: shard.override.yml
            crystal_version: latest
            postgres_version: 16
            experimental: true
            os: windows-latest
          - shard_file: shard.edge.yml
            crystal_version: latest
            postgres_version: 14
            experimental: true
            os: ubuntu-latest
          - shard_file: shard.override.yml
            crystal_version: nightly
            postgres_version: 14
            experimental: true
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup PostgreSQL v${{ matrix.postgres_version }}
        uses: ikalnytskyi/action-setup-postgres@v6
        with:
          username: lucky
          password: developer
          port: 5432
          postgres-version: ${{ matrix.postgres_version }}

      - uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{matrix.crystal_version}}
      - name: Install shards
        run: shards install --skip-postinstall --skip-executables
        env:
          SHARDS_OVERRIDE: ${{ matrix.shard_file }}
      - name: Run integration test (Linux)
        run: ./script/integration_test
        if: matrix.os == 'ubuntu-latest'
        env:
          DATABASE_URL: postgres://lucky:developer@localhost:5432/avram_dev
      - name: Run integration test (Windows)
        run: .\script\integration_test.ps1
        if: matrix.os == 'windows-latest'
        env:
          DATABASE_URL: postgres://lucky:developer@localhost:5432/avram_dev
      - name: Run tests
        run: crystal spec --error-trace
        env:
          BACKUP_DATABASE_URL: postgres://lucky:developer@localhost:5432/sample_backup
          DATABASE_URL: postgres://lucky:developer@localhost:5432/avram_dev
