name: Avram CI

on:
  push:
    branches: [master]
  pull_request:
    branches: "*"

jobs:
  check_format:
    strategy:
      fail-fast: false
      matrix:
        crystal_version:
          - 0.36.1
          - 1.0.0
        experimental:
          - false
        include:
          - crystal_version: nightly
            experimental: true
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    container: crystallang/crystal:${{ matrix.crystal_version }}
    steps:
      - uses: actions/checkout@v1
      - name: Install shards
        run: shards install
      - name: Format
        run: crystal tool format --check
      - name: Lint
        run: ./bin/ameba

  specs:
    strategy:
      fail-fast: false
      matrix:
        postgres_version:
          - 10
          - 11
          - 12
          - 13
        crystal_version:
          - 0.36.1
          - 1.0.0
        experimental:
          - false
        include:
          - crystal_version: nightly
            postgres_version: latest
            experimental: true
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    container: postgres:${{ matrix.postgres_version }}
    services:
      postgres:
        image: postgres:${{ matrix.postgres_version }}-alpine
        env:
          POSTGRES_USER: lucky
          POSTGRES_PASSWORD: developer
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - uses: oprypin/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal_version }}
      - name: Cache Crystal
        uses: actions/cache@v1
        with:
          path: ~/.cache/crystal
          key: ${{ runner.os }}-crystal
      - name: Install shards
        run: shards install
      - name: Run integration test
        run: ./script/integration_test
        env:
          DATABASE_URL: postgres://lucky:developer@postgres:5432/avram_dev
      - name: Run tests
        run: crystal spec
        env:
          BACKUP_DATABASE_URL: postgres://lucky:developer@postgres:5432/sample_backup
          DATABASE_URL: postgres://lucky:developer@postgres:5432/avram_dev
